RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /home/altern8/workspaces/lithe-php-multiple-sites/sites/main/docroot/$1 [L]

RewriteRule ^$ /home/altern8/workspaces/lithe-php-multiple-sites/sites/main/docroot/ [L]
